.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  margin-bottom: 3em;
}

.titleContainer {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  color: white;
  font-family: 'Fjalla One';
  font-size: 5em;
}
