@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap');
@font-face {
    font-family: 'Moam';
    src: local('Moam'), url(../fonts/Moam.otf) format('otf');
}

.fontMoam {
    font-family: 'Moam';
    letter-spacing: .04em;
}

@font-face {
    font-family: 'Quandco';
    src: local('Quandco'), url(../fonts/Quandco.otf) format('otf');
}

.fontQuandco {
    font-family: 'Quandco';
    letter-spacing: .15em;
}

.fontOpenSans {
    font-family: 'Open Sans'
}