.plum-bg {
    background-color: #b579ae;
}
.plum-text {
    color: #b579ae;
}

.lavender-bg {
    background-color: #c8b2df;
}
.lavender-text {
    color: #c8b2df;
}

.lemonade-bg {
    background-color: #fefdd8;
}
.lemonade-text {
    color: #fefdd8;
}

.chive-bg {
    background-color: #cbd277
}
.chive-text {
    color: #cbd277
}

.olive-bg {
    background-color: #96a341
}
.olive-text {
    color: #96a341
}