.title {
  color: white;
  font-family: 'Fjalla One';
}
.date {
  color: white;
  font-family: 'Fjalla One';
  font-size: .9;
}
.subtitle {
  color: white;
  font-family: 'Fjalla One';
  font-size: .8;
}
